<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Registration</title>
</head>
<body>
        <div class="container">

            <form action="/member/new" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your Name.">
                </div>
                <button type="submit">Join</button>

            </form>
        </div>
</body>
</html>